certifi==2024.7.4
charset-normalizer==3.3.2
filelock==3.15.4
flake8==7.1.1
fsspec==2024.6.1
huggingface-hub==0.24.6
idna==3.8
mccabe==0.7.0
numpy==2.0.2
packaging==24.1
pycodestyle==2.12.1
pyflakes==3.2.0
PyYAML==6.0.2
regex==2024.7.24
requests==2.32.3
safetensors==0.4.4
tokenizers==0.19.1
tqdm==4.66.5
transformers==4.44.2
typing_extensions==4.12.2
urllib3==2.2.2
